$col-sizes: "s", "md", "lg";
$col-breakpoints: "mobile", "tablet", "desktop-small";

@for $col-index from 1 through 12 {
    .col-#{$col-index} {
        width: calc(100% / 12 * #{$col-index});
    }
    @for $col-size-index from 1 through length($col-sizes) {
        .col-#{nth($col-sizes, $col-size-index)}-#{$col-index} {
            @include mediaQuery(breakpoint(nth($col-breakpoints, $col-size-index))) {
                width: calc(100% / 12 * #{$col-index});
            }
        }
    }
}