$container-breakpoints: "tablet",
"desktop-small";
$widths: 80%,
60%;

;
.container {
    width: 90%;
    margin: auto;
    @include print-media-queries-by-breakpoint($container-breakpoints) using ($breakpoint-index) {
        width: nth($widths, $breakpoint-index);
    }
    ;
}