.container {
    width: 90%;
    margin: auto;
    @include mediaQuery (breakpoint("tablet")) {
        width: 80%;
    };
    @include mediaQuery (breakpoint("desktop-small")) {
        width: 60%;
    };
}