.post-box-container {
    margin: 1.5em 0;
}

.flex-container .post-box-container{
    @include mediaQuery(breakpoint("tablet")) {
        padding: 0 1em;
        &:nth-child(odd) {
            padding-left: 0;
        }
        &:nth-child(even) {
            padding-right: 0;
        }
    }
}

.post-box-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7em;
    .post-box-title {
        color: color("secondary");
        font-size: 1.35em;
        margin: 0;
        @include mediaQuery(breakpoint("mobile"), max-width) {
            margin-bottom: 0.2em;
        }
    }
    .post-box-date {
        font-weight: bold;
        color: gray;
    }
    @include mediaQuery(breakpoint("mobile"), max-width) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 1em;
    }
}

.post-box-thumbnail {
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.post-box-excerpt {
    font-size: 1.15em;
    font-weight: bold;
}
