@use "../variables";

@import "../mixins//media";


.container {
    width: 90%;
    margin: auto;
    @include mediaQuery (variables.breakpoint("tablet")) {
        width: 80%;
    };
    @include mediaQuery (variables.breakpoint("desktop-small")) {
        width: 60%;
    };
}